name: release-artifacts

on:
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Echo JAVA_HOME
        run: echo $JAVA_HOME
      - name: Verify Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
        with:
          arguments: --stacktrace --info clean build
      - name: Upload assets to GitHub, Modrinth and CurseForge
        uses: Kir-Antipov/mc-publish@v2.1
        with:
          curseforge-id: 418915
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}
          files: build/libs/*.jar
          changelog-file: changelog-3.x.x.txt
          changelog-type: text
          loaders: forge
          java: 17