name: release-3.x.x

on:
  workflow_dispatch:
    inputs:
      version:
        required: true
        description: 'The version to publish'
        default: ''

env:
  CURSEFORGE: ${{ secrets.CURSEFORGE_TOKEN }}
  MODRINTH: ${{ secrets.MODRINTH_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    name: 'Publish 3.x.x'
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          ref: '1.18-3.0.0'
      - name: Create GitHub Tag
        uses: rickstaa/action-create-tag@v1
        with:
          tag: ${{ github.event.inputs.version }}
      - name: Get current time
        uses: gerred/actions/current-time@master
        id: current-time
      - name: Create Release
        id: create_release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.event.inputs.version }}
          release_name: Release ${{ github.event.inputs.version }} (Published ${{ steps.current-time.outputs.time }})
          draft: false
          prerelease: true
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: 17.0.1
      - name: Echo JAVA_HOME
        run: echo $JAVA_HOME
      - name: Verify Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Execute build
        run: ./gradlew --info --stacktrace build
      - name: Upload files to github
        uses: softprops/action-gh-release@v1
        with:
          files: build/libs/*.jar
          tag_name: ${{ github.event.inputs.version }}
      - name: Upload files to curseforge
        run: ./gradlew --info --stacktrace curseforge
      - name: Upload files to modrinth
        run: ./gradlew --info --stacktrace publishModrinth
