name: release-2.x.x

on:
  push:
    branches:
      - '1.16.5-2.0.0'

env:
  CURSEFORGE: ${{ secrets.CURSEFORGE_TOKEN }}
  MODRINTH: ${{ secrets.MODRINTH_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    name: 'Publish 2.x.x'
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          ref: '1.16.5-2.0.0'
      - name: Create Tag
        id: create_tag
        uses: jaywcjlove/create-tag-action@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          test: '[R|r]elease[d]\s+[v|V]\d(\.\d+){0,2}'
      - name: Get current time
        uses: srfrnk/current-time@master
        id: current-time
        with:
          format: DD.MM.YYYY HH:mm [UTC]
      - name: Create Release
        uses: ncipollo/release-action@v1
        if: steps.create_tag.outputs.successful
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: release ${{ steps.create_tag.outputs.version }} --- ${{ steps.current-time.outputs.time }}
          tag: ${{ steps.create_tag.outputs.version }}
          bodyFile: "changelog-2.x.x.txt"
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: temurin
          cache: 'gradle'
      - name: Echo JAVA_HOME
        run: echo $JAVA_HOME
      - name: Verify Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Execute build
        run: ./gradlew --info --stacktrace build
      - name: Upload files to github
        uses: softprops/action-gh-release@v1
        with:
          files: build/libs/*.jar
          tag_name: ${{ steps.create_tag.outputs.version }}
      - name: Upload files to curseforge
        run: ./gradlew --info --stacktrace curseforge
      - name: Upload files to modrinth
        run: ./gradlew --info --stacktrace publishModrinth
